<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | General Form Elements</title>
  <link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css"
  rel="stylesheet"
  />
  
  <!-- MDB -->
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"
  ></script>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <%- include('./partials/navbar.ejs') %>

</div>
<div >

  <div  style="display: flex;margin-top: 10px;align-items: center;width: 100%;">

  <div style="width: 60%;">
    <img src="images/project-tracking.png" style="height:600px;" />
  </div>

  <div style="width: 40%;">  

    <h3>Project Management</h3>
     <p style="font-size:15 px;">
      Project mangement is a wonderful project where you can add employess and able to assign some projects to them and you can add how many employees you want here you can add individual task to them and you can check there status and one more thing you are not able acess anything in website until you got permission from manager.you can also see your team details and there status
    </p>
    <div class="d-flex" style="display: flex;">
      <!-- <button type="button" class="btn btn-primary me-3">
        <a href="/login" style="color: white;">Login</a>
      </button>
      <button type="button" class="btn btn-primary me-3">
       <a href="/register" style="color: white;"> Sign up</a>
      </button> -->
     
    </div>
  </div>
  </div>

</div>


<script>
$(function () {
  bsCustomFileInput.init();
});
</script>
</body>
</html>
